{{ define "content" }}

  <div class="container">
    <h2 style="text-align:center;vertical-align:middle;">
      Places of Work, Projects and Accomplishments
    </h2>
    <h2 style="text-align:center;vertical-align:middle;">
      /
    </h2>
    <h2 style="text-align:center;vertical-align:middle;">
      Lugares de Trabajo, Proyectos y Logros
    </h2>
    <div class="table-responsive">
      <table class="table table-borderless">
        {{ range where .Site.Pages "Type" "cv" }}
        <tr>
        <td style="text-align:center;vertical-align:middle;">
          <h2>{{ .Title }}</h2>
          <p>
            <span class="d-none d-sm-inline">
            {{ .Params.job_title }}
            </span>
          </p>
           <span class="d-none d-sm-inline">
             {{ .Params.start_date }}</br>
             {{ .Params.end_date }}</br>
           </span>
        </td>
        <td>
           <p>{{ .Content }}</p>
        </td>
        </tr>
        {{ end }}
      </table>
    </div>
  </div>

{{ end }}
