{{ define "content" }}

  <div class="container text-justify">
    {{ range where .Site.Pages "Type" "cv" }}
    <div class="row justify-content-md-center">
      <div class="col">
        <h2>{{ .Title }}</h2>
      </div>
      <div class="col">
        <h3>{{ .Params.job_title }}</h3>
        <p>{{ .Params.start_date }}, {{ .Params.end_date }}</p>
      </div>
    </div>
    <p>
      {{ .Content }}
    </p>
    <!--
        <div class="container"
					style="text-align:justify; vertical-align:middle; color: whitesmoke; background: black;"
				>
           <p>{{ .Content }}</p>
        </div>
    -->
    {{ end }}
  </div>

{{ end }}
