{{ define "content" }}

<div class="container" style="color: whitesmoke">
  {{ range where .Site.RegularPages "Type" "posts" }}
<h2 style="text-align: left; text-transform: uppercase;">
  <a
		href="{{ .Permalink }}"
		style="color: palegoldenrod; text-decoration: none"
		onmouseover="this.style.color='orange'"
		onmouseout="this.style.color='palegoldenrod'"
	>
    {{ .Title }}
    </a>
  </h2>
  <p style="text-align: justify">
    {{ .Summary }}
    <a
			href="{{ .Permalink }}"
			style="color: palegoldenrod; text-decoration: none"
			onmouseover="this.style.color='orange'"
			onmouseout="this.style.color='palegoldenrod'"
		>
      {{ .Params.read_more }}
    </a>
  </p>
  <p class="text-muted" style="font-size: 1rem">
    <b>Tags:</b>
    {{ with .Params.tags }}{{ delimit . ", " }}{{ end }}
  </p>
  {{ end }}
</div>

{{ end }}
