<nav
	class="navbar navbar-expand-md navbar-dark justify-content-center fixed-top"
	style="background-color: black;"
>
  <div class="container">
    {{ range (where .Site.Pages "Type" "brand").ByWeight }}
    <a
      href="{{ .Permalink }}"
      class="navbar-brand nav-link text-wrap"
      style="color: salmon;"
      onmouseover="this.style.color='red'"
      onmouseout="this.style.color='salmon'"
    >
      <b>{{ .Title }}</b>
    </a>
    {{ end }}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
			data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul
        class="navbar-nav nav-justified w-100 text-center"
        style="vertical-align: middle; text-transform: uppercase;"
      >
        {{ range (where .Site.Pages "Type" "page").ByWeight }}
        <li class="nav-item">
            <div class="container">
                <a
                  href="{{ .Permalink }}"
                  class="navbar-brand nav-link text-wrap"
                  style="color: pink;"
                  onmouseover="this.style.color='salmon'"
                  onmouseout="this.style.color='pink'"
                >
                    <b>{{ .Title }}</b>
                </a>
            </div>
        </li>
        {{ end }}
				<li class="nav-item">
					<div class="container">
						<div class="dropdown">
							<button
								class="btn btn-secondary dropdown-toggle"
								type="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								{{ .Site.Language }}
							</button>
							<ul class="dropdown-menu">
							{{ range .Translations }}
								<li>
									<a
										href="{{ .Permalink }}"
										class="dropdown-item"
									>
												{{ .Language.LanguageName }}
										</a>
								</li>
							{{ end }}
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
  </div>
</nav>
