{{ define "content" }}

<div class="container">
  {{ range where .Site.RegularPages "Type" "posts" }}
<h2 style="text-align: left; text-transform: uppercase;">
  <a href="{{ .Permalink }}">
    {{ .Title }}
    </a>
  </h2>
  <p style="text-align: justify;">
    {{ .Summary }}
    <a href="{{ .Permalink }}">
      {{ .Params.read_more }}
    </a>
  </p>
  <p class="text-muted" style="font-size: 1rem">
    <b>Tags:</b>
    {{ with .Params.tags }}{{ delimit . ", " }}{{ end }}
  </p>
  {{ end }}
</div>

{{ end }}
